@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Iceberg", sans-serif;
}

body {
  background-color:black;

  margin: 0;
  padding: 0;
}
.title{
  padding-top: 1rem;
 text-align: center;
  color: #c9c6c6;
}
section {
    width: 100%;
    padding-top: 1rem;
 
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
  margin: 0;
}
a{
  text-decoration: none;
  color: white;
  font-size: x-large;
  font-family: "Revalia", sans-serif;
  
}
header{
    display: flex;
    align-items: center;
    gap: 8px;
    background: #fff;
    height: 40px;
    width: 90%;
    padding-left: 20px;
   justify-content: space-between;
    border-radius:10px 10px 0 0 ;
    padding-right: 20px;
    max-width: 95%;
}
header div{
   
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.terminalname{
  width: 200px;
  color: #c9c6c6;
}
.dot{
  display: flex;
  width:80px;
  justify-content: space-between;
}
.red{
    background-color: rgb(90, 6, 6);
}
.yellow{
    background-color: rgb(103, 103, 4);

}
.green{
    background-color: rgb(4, 82, 4);
}
.terminalheader{
  background-color: rgb(4, 34, 2);
}
#terminal {
  width: 90%;
  max-width: 95%;
 height: 550px;
  background-color: rgb(5, 135, 5);
  background-image: url("./scanlines.png");
  padding: 20px;
  overflow-y: auto;

}
.t-container {
  display: inline;
}

.cmd {
  color: white;
}
.output {
  color: gray;
}
.user{
  color: green;
}
.socialbox{
  position: relative;
  padding: 15px 35px;
  border-radius: 2px;
  box-shadow: 0 0 10px #00FF00;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
 
.btn1 {
  background-color: #2F4F4F; 
}

.btn2 {
  background-color: #556B2F; 
}

.btn3 {
  background-color: #008B8B; 
}

.btn4 {
  background-color: #8B008B; 
}

.btn5 {
  background-color: #B8860B; 
} 



/* .socialbox::after{
  content: "";
  top: 5px;
  right: 5px;
  width: 98%;
  height: 97%;
  position: absolute;
  border-width: 2.75px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-image: initial;
  white-space: nowrap;
  border-radius: 2px;
} */
.socialbox-container{
  display: flex;
margin: 1rem auto;
  gap: 3rem;
  margin-bottom: 2rem;
  width: 95%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
 
  
}
.logomeme img{
  max-width: 300px;
  position: fixed;
 
}
.logomeme img:nth-child(1){
  top: 50%;
  right: -120px;
  transform: translateY(-50%) rotate(0deg);
  animation: 15s ease 0s infinite normal none running slideAnimation;
}

/* .logomeme img:nth-child(2){
  bottom: 300px;
  left: 50%;
  transform: translate(-50%);
  animation: 15s ease 0s infinite normal none running slideAnimation2;
} */
.logomeme img:nth-child(2){
  left: -300px;
  top: 50%;
    transform: translateY(-50%) rotate(0deg) scaleX(-1);
  animation: 15s ease 0s infinite normal none running slideAnimation3;
}


@media (max-width: 768px) {
  .terminalname{
    width: 300px;
    
  }
}





@keyframes slideAnimation {
  0% {
      right: 0;
  }
  50% {
      right: -230px;
  }
  60% {
      right: -100px;
  }
  65% {
      right: -230px;
  }
  100% {
      right: 0;
  }
}


/* @keyframes slideAnimation2 {
  0% {
    bottom: 0;
  }
  30% {
    bottom: -300px;
  }
  40% {
    bottom: -50px;
  }
  45% {
    bottom: -300px;
  }
  100% {
    bottom: 0;
  }
} */

@keyframes slideAnimation3 {
  0% {
    left: 0;
  }
  70% {
    left: -230px;
  }
  80% {
    left: -100px;
  }
  85% {
    left: -230px;
  }
  100% {
    left: 0;
  }
}